Flask==3.1.1
flask-cors==6.0.1
PyMuPDF==1.26.1
python-docx==1.1.0

# Auth packages
flask-sqlalchemy==3.1.1
flask-jwt-extended==4.7.1
flask-bcrypt==1.0.1

# AI/ML packages (required for Vercel Serverless)
langchain
langchain-community
langchain-text-splitters
langchain-groq
faiss-cpu
chromadb
psycopg2-binary==2.9.9
